<configuration>

    <springProperty name="enableJsonLog" source="border-waiting-area.enable-json-log" defaultValue="false"/>

    <if condition='Boolean.parseBoolean(property("enableJsonLog"))'>
        <then>
            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>logs/border-state-collector.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>logs/border-state-collector-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
        </then>
        <else>
            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>logs/border-state-collector.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>logs/border-state-collector-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </else>
    </if>

    <logger name="info.mastera" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
