DATASOURCE_URL=jdbc:mariadb://host.docker.internal:3307/bot_db
POSTGRES_DB=bot_db
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
TELEGRAM_TOKEN=123456790:SOME_SYMBOLS
TELEGRAM_USERNAME=TelegramBot
SERVER_PORT=8080