DATASOURCE_URL=jdbc:mariadb://host.docker.internal:3307/collector_db
POSTGRES_DB=collector_db
POSTGRES_USER=collector-user
POSTGRES_PASSWORD=pass
BORDER_WAITING_AREA_URL=http://border-state-bot-app:8088